*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* for all element whith class container */
[class*="__container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}